*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/
.contenitore{
    width: 1170px;
    margin: 0 auto;
}
/*fine utilities*/

/*inizio header*/

header{
    position: fixed;
    z-index: 100;
    width: 100%;
}
.contenitore-header{
    width: 1170px;
    margin: 0 auto;
    display: flex;
}

.sfondo-header{
    background-color: rgb(255, 123, 0);
    color: white;
}

.riga-header{
    width: 100%;
    padding-top: 20px;
    display: flex;
}

.col-header{
    width: calc(100% / 3);
    line-height: 50px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
    
.logo{
    width: 200px;
}

i{
    padding: 5px;
}
/*fine header*/

/*inizio main*/
.riga-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.col-main{
    width: calc(100% / 3 - 20px);
    margin: 40px 10px;
}

.position-relative{
    position: relative;
}

.foto{
    width: 350px;
}

.sconto,.sostenibilità-sconto,.sostenibilità{
    padding: 3px 10px;
    color: white;
    font-size: 15px;
}

.sconto.rosso{
    background-color: red;
    position: absolute;
    bottom: 40px;
}

.sostenibilità-sconto{
    background-color: green;
    position: absolute;
    bottom: 40px;
    left: 55px;
}
.sostenibilità{
    background-color: green;
    position: absolute;
    bottom: 40px;
}

/*fine main*/